body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: white;
}

.busca {
    display: flex;
    width: 100%;
}

.sub {
    width: 25%;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
}

.sub input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mensajes {
    list-style: none;
    padding: 0;
}

.chat {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.chatdos{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.chattres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.perfil {
    display: flex;
    align-items: center;
}

.imagen{
    border-radius: 50%;
}

.accion button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.entorno {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.entornodos{
    display: flex;
    padding: 20px;
    border-top: 1px solid #eee;
}

.entorno{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.entornodos {
    padding: 10px 20px;
    background-color: #0084ff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.informacionperfil{
    width: 25%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.imagen {
    width: 100px;
    height: 100px;
}

.h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: fantasy;
}

.subchat{
    font-family: cursive;
}

.infochat{
    font-family: monospace;
}

.contexto{
    font-family: 'Times New Roman', Times, serif;
}